<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Web Drivers Suite" verbose="1">
    <test name="Chrome Browser Tests">
        <classes>
            <class name="testng.ChromeDriverTests"/>
        </classes>
    </test>
    <test name="Edge Browser Tests">
        <classes>
            <class name="testng.EdgeDriverTests"/>
        </classes>
    </test>
    <test name="Firefox Browser Tests">
        <classes>
            <class name="testng.FirefoxDriverTests"/>
        </classes>
    </test>
</suite>